### Java template
build
out

# IDEA files
.idea
Tafspector.iml

# Log file
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### Gradle template
.gradle

# Ignore Gradle GUI config
gradle-app.setting

# Cache of project
.gradletasknamecache

